beautifulsoup4==4.4.1
chardet==2.3.0
defusedxml==0.4.1
html5lib==0.999
lxml==3.5.0
Magic-file-extensions==0.2
nltk==3.2.5
numpy==1.14.2
Pillow==5.1.0
pygobject==3.20.0
pyliblzma==0.5.3
python-Levenshtein==0.12.0
six==1.11.0
SOAPpy==0.12.22
textblob==0.15.1
tld==0.7.10
tlp==0.1.1
ubuntuone-client-data==14.4
vboxapi==1.0
wstools==0.4.3
Flask==0.12.2
gunicorn==19.7.1
idna==2.6
Jinja2==2.10
